<!-- Primary Meta Tags -->
<title>{% if page.url <> "/" %}{{ page.title }} &mdash; {% endif %}{{ site.title }}</title>
<meta name="title" content="{{ page.title }}">
<meta name="description" content="{{ page.description }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8" />
<link rel="icon" type="image/png" href="{{ site.url }}/favicon.png" />
<link rel="mask-icon" href="{{ site.url }}/mask-icon.svg" color="#000000">

<!-- Feeds -->
<link rel="alternate" type="application/atom+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml" />
<link rel="alternate" type="application/json" title="{{ site.name }}" href="{{ site.url }}/feed.json" />

<!-- Open Graph / Facebook -->
<meta property="og:site_name" content="{{ site.name }}"/>
{% if page.title %}
<meta property="og:title" content="{{ page.title }} &mdash; {{ site.title }}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:type" content="article">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.content | strip_html | strip_newlines | truncate: 180 }}{% endif %}"/>
<meta property="og:image" content="{% if page.image %}{{ page.image }}{% else %}https://numbered.works/sally-port-farm/images/meta.jpg{% endif %}" />
{% else %}
<meta property="og:title" content="{{ site.title }}">
<meta property="og:type" content="website">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:image" content="{% if page.image %}{{ page.image }}{% else %}https://numbered.works/sally-port-farm/images/meta.jpg{% endif %}" />
{% endif %}

<!-- Twitter -->
<meta name="twitter:site" content="@numberedworks" />
{% if page.title %}
<meta name="twitter:title" content="{{ page.title }} &mdash; {{ site.title }}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.content | strip_html | strip_newlines | truncate: 180 }}{% endif %}"/>
<meta name="twitter:card" content="summary" />
<meta name="twitter:image" content="{% if page.image %}{{ page.image }}{% else %}https://numbered.works/sally-port-farm/images/meta.jpg{% endif %}" />
{% else %}
<meta name="twitter:title" content="{{ site.title }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{% if page.image %}{{ page.image }}{% else %}https://numbered.works/sally-port-farm/images/meta.jpg{% endif %}" />
{% endif %}
