<!-- Primary Meta Tags -->
<title>{% if page.url <> "/" %}{{ page.title }} &mdash; {% endif %}{{ site.title }}</title>
<meta name="title" content="{% if page.url <> "/" %}{{ page.title }} &mdash; {% endif %}{{ site.title }}">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.content | strip_html | strip_newlines | truncate: 180 }}{% endif %}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8" />

<link rel="canonical" href="{% if page.canonical_url %}{{ page.canonical_url }}{% else %}{{ site.url }}{{ page.url }}{% endif %}" />

<link rel="icon" href="{{ site.url }}/favicon.ico" sizes="any"><!-- 32×32 -->
<link rel="icon" href="{{ site.url }}/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="{{ site.url }}/apple-touch-icon.png"><!-- 180×180 -->
<link rel="manifest" href="{{ site.url }}/manifest.webmanifest">

<!-- Feeds -->
<link rel="alternate" type="application/atom+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml" />
<link rel="alternate" type="application/json" title="{{ site.name }}" href="{{ site.url }}/feed.json" />

<!-- Open Graph / Facebook -->
<meta property="og:site_name" content="{{ site.title }}"/>
{% if page.title %}
<meta property="og:title" content="{{ page.title }} &mdash; {{ site.title }}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:type" content="article">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.content | strip_html | strip_newlines | truncate: 180 }}{% endif %}"/>
<meta property="og:image" content="{% if page.image %}{{ page.image }}{% else %}https://numbered.works/sally-port-farm/images/meta.jpg{% endif %}" />
{% else %}
<meta property="og:title" content="{{ site.title }}">
<meta property="og:type" content="website">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:image" content="{% if page.image %}{{ page.image }}{% else %}https://numbered.works/sally-port-farm/images/meta.jpg{% endif %}" />
{% endif %}

<!-- Twitter -->
<meta name="twitter:site" content="@numberedworks" />
{% if page.title %}
<meta name="twitter:title" content="{{ page.title }} &mdash; {{ site.title }}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.content | strip_html | strip_newlines | truncate: 180 }}{% endif %}"/>
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{% if page.image %}{{ page.image }}{% else %}https://numbered.works/sally-port-farm/images/meta.jpg{% endif %}" />
{% else %}
<meta name="twitter:title" content="{{ site.title }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{% if page.image %}{{ page.image }}{% else %}https://numbered.works/sally-port-farm/images/meta.jpg{% endif %}" />
{% endif %}

<!-- Smooth Scrolling -->
<!-- <script src="https://unpkg.com/smoothscroll-polyfill/dist/smoothscroll.min.js"></script>-->
<!-- <script src="https://unpkg.com/smoothscroll-anchor-polyfill"></script> -->

<style>
  html { /* CSS custom property for the polyfill */
         --scroll-behavior: smooth;
         /* Normal CSS property for browsers with native support */
         scroll-behavior: smooth;
       }
</style>
